/*-------------------------------------------
GÉNÉRIQUE
-------------------------------------------*/

html{
    box-sizing: border-box;
}

*,*::before*::after{
    box-sizing: inherit;
}

/*-------------------------------------------
ÉLÉMENTS
-------------------------------------------*/

body{
    padding: 0;
    margin: 0;

    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    font-size: 36px;
    font-weight: 300;

    letter-spacing: 7.2px;
    margin: 0;

    text-align: center;
}

h2{
    font-size: 18px;
    font-weight: 700;

    margin: 0;
}

h3{
    font-size: 36px;
    font-weight: normal;
    
    margin: 10px 0;

    text-align: center;

}



/*-------------------------------------------
COMPONENTS
-------------------------------------------*/

/* WRAPPER */

.wrapper{
    max-width: 1080px;
    margin: 0 auto;
}


/* HEADER */

.header{
    background-color: #f26c25;

    color: white;
    
    padding-top: 10px;
    padding-bottom: 10px;
}

.header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;

    color: white;
    font-size: 36px;
    font-weight: bold;
}

.menu{
    display: flex;
    gap: 40px;
    list-style-type: none;
}

.menu a:hover{
    text-decoration: underline;
}


/* HERO */

.hero{
    padding: 80px 0;

    background-color: #eee;
}


/* TITRE-TRANSPORT*/

.titre-section{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #eee;

    padding: 20px;
    margin-bottom: 60px;
}

.transports{
    padding: 80px 0;
}

.conteneur-transports{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
}

.transports p{
    text-align: center;
    margin-top: 5px;
}


/* FOOTER */

.menu-social a{
    display: block;
    width: 32px;
    height: 32px;
}

.footer .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-social{
    display: flex;
    gap: 20px;

    list-style-type: none;
}

.footer{
    background-color: #000;

    color: white;
}

.facebook a:hover{
    background-color: #1877f2;
}

.twitter a:hover{
    background-color: #1da1f2;
}

.linkedin a:hover{
    background-color: #0a66c2;
}